.anfield-content

md-tabs.player-tab
    md-tab
        label="All"
    .row
        .col.col-8
            .position
        .col.col-8
            .avatar
        .col.col-8
            .nationality
        .col.col-8
        .col.col-44
        .col.col-8
        .col.col-8
        .col.col-8
            //TODO: edit me plz
    md-tab
        label="GK"
    md-tab
        label="DF"
    md-tab
        label="MF"
    md-tab
        label="CF"
