ion-view(view-title='{{"ui.t.user.reset-password.title"|trans}}')
    ion-content
        form
            .register-form.list
                label.item.item-input
                    input(
                        type='password',
                        name="password",
                        placeholder="Password",
                        required
                    )

                label.item.item-input
                    input(
                        type='password',
                        name='confirm_password',
                        placeholder="Re-Password",
                        required
                    )

                label
                    button.button.button-block(type='submit')
                        | {{'ui.t.user.submit'| trans}}
