ion-view(view-title="{{'ui.t.match.header.title'|trans}}")
    ion-content
        ion-refresher(
            on-refresh="loadNextDayMatches()"
            spinner="{{$spinnerIcon}}"
        )
        ion-list
            ion-item.match-items(
                ng-repeat="item in items")
                .date(ng-if="item.type == 'date'")
                    | {{item.value | moment: 's'}}

                .league(ng-if="item.type == 'league'")
                    .logo
                    .name {{item.value.name}}

                .match(ng-if="item.type == 'match'")
                    a.info(ui-sref="app.matches-show.game-prediction({ id: item.value.id })")
                        .club
                            img.logo(ng-src!="{{item.value.home_club.getLogo('70x70')}}")
                            span.name {{item.value.home_club.name}}

                        .vs.-live(ng-if="item.value.is_live")
                            | {{item.value.result}}
                            .time {{item.value.start_time|date:('HH:MM')}}

                        .vs.-fulltime(ng-if="item.value.is_full_time")
                            | {{item.value.result}}
                            .ft FT

                        .vs.-nextmatch(ng-if="!item.value.is_full_time && !item.value.is_live")
                            | {{item.value.start_time|date:('HH:MM')}}

                        .club
                            span.name {{item.value.away_club.name}}
                            img.logo.-right(ng-src!="{{item.value.away_club.getLogo('70x70')}}")

        ion-infinite-scroll(
            ng-if="hasMorePage"
            on-infinite="loadPrevDayMatches()"
            distance="5%"
            spinner="{{$spinnerIcon}}"
        )
