ion-side-menus(enable-menu-with-back-views='false')
    ion-side-menu-content
        ion-nav-bar.bar-header
            ion-nav-back-button.buttons
            ion-nav-buttons(side='left')
                button.button.button-icon.buttons.ion-navicon(menu-toggle='left')

        // content section
        ion-nav-view(name="content")

    ion-side-menu(side="left" expose-aside-when="large")
        ion-header-bar.bar-stable.bar-user(ng-show="IsLoggedIn")
            img.icons(src="img/sidebar/profile_2x.png")
            .username test username {{IsLoggedIn}}

        ion-content
            ion-list.list-menu
                ion-item(menu-close='', ui-sref='app.home.index')
                    img.icons(src="img/sidebar/home-feed_2x.png")
                    .menus {{'ui.t.main.menus.feed'|trans}}

                ion-item(menu-close='', ui-sref='app.news')
                    img.icons(src="img/sidebar/news_2x.png")
                    .menus {{'ui.t.main.menus.news'|trans}}

                ion-item(menu-close='', ui-sref='app.matches')
                    img.icons(src="img/sidebar/match_2x.png")
                    .menus {{'ui.t.main.menus.matches'|trans}}

                ion-item.expand-collapse.menu-collapse
                    .main(
                        ng-click!="leaguesactive = !leaguesactive",
                        ng-class!="{'collapsed': leaguesactive, 'expanded': !leaguesactive}"
                    )
                        img.icons(src="img/sidebar/league_game_2x.png")
                        .menus {{'ui.t.main.menus.leagues'|trans}}
                        .caret
                    .slides
                        .sub(
                            ng-hide="leaguesactive",
                            ng-repeat="menu in menus.leagues",
                            menu-close='',
                            ui-sref='{{menu.link}}'
                        )
                            img.icons(src="{{menu.logo}}")
                            | {{menu.text}}

                ion-item(menu-close='', ui-sref='app.ranking')
                    img.icons(src="img/sidebar/people_ranking_2x.png")
                    .menus {{'ui.t.main.menus.ranking'|trans}}

            ion-list.list-menu(ng-hide="IsLoggedIn")
                ion-item.main(menu-close='', ng-click='login()')
                    | {{'ui.t.main.menus.login'|trans}}
                ion-item.main(menu-close='', ui-sref='app.register')
                    | {{'ui.t.main.menus.signin'|trans}}

            ion-list.list-menu(ng-show="IsLoggedIn")
                ion-item.expand-collapse.menu-collapse
                    .main(
                        ng-click!="settingactive = !settingactive",
                        ng-class!="{'collapsed': settingactive, 'expanded': !settingactive}"
                    )
                        .menus {{'ui.t.main.menus.setting'|trans}}
                        .caret
                    .slides
                        .sub.setting(
                            ng-hide="settingactive",
                            ng-repeat="menu in menus.setting",
                            menu-close='',
                            ui-sref='{{menu.link}}'
                        )
                            img.icons(src="{{menu.logo}}")
                            .menus {{menu.text}}

                ion-item.main(menu-close='', ng-click="")
                    | {{'ui.t.main.menus.logout'|trans}}
