.expand-collapse.game-collapse
    .container
        .section
            .select(
                ng-click!="active = !active",
                ng-class!="{'collapsed': active, 'expanded': !active}"
            )
                | {{'ui.t.match.prediction.select'|trans}}
        .section
            .select(
                ng-click!="active = !active",
                ng-class!="{'collapsed': active, 'expanded': !active}"
            )
                | {{'ui.t.match.prediction.select'|trans}}
        .section
            .select(
                ng-click!="active = !active",
                ng-class!="{'collapsed': active, 'expanded': !active}"
            )
                | {{'ui.t.match.prediction.select'|trans}}
        .row.desc
            .col.col-33.text-center {{r.home_club.name}}
            .col.col-33.text-center {{'ui.t.match.prediction.draw'|trans}}
            .col.col-33.text-center {{r.away_club.name}}

    .slides.prediction-content(ng-hide="active")
        .content
            .header(layout="row")
                .arrow
                .text {{'ui.t.match.prediction.score-th'|trans}}
        .prediction-form(layout="row")
            .shadow

            md-input-container.home(flex)
                input.point(type="number", aria-label="home")

            .score(flex="20") {{'ui.t.match.prediction.score-en'|trans}}

            md-input-container.away(flex)
                input.point(type="number", aria-label="away")

        button.prediction-submit(type="submit" ng-click="")
            .text {{'ui.t.match.prediction.submit'|trans}}
